<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to 'login client', new_client_session_path %>
<%= link_to 'Logout client', destroy_client_session_path, method: :delete %>
