<!DOCTYPE html>
<html>
  <head>
    <title>Client</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= javascript_pack_tag 'client' %>
  </body>
</html>
